@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("./root.css");

@font-face {
    font-family: Norwester;
    src: url("../fonts/norwester.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    ;
}

.ff_norwester {
    font-family: Norwester;
}

.ff_inter {
    font-family: "Inter", sans-serif;
}

/* =================================HEADER SECTION================================= */
.header_logo {
    max-width: 90px;
    max-height: 90px;
    margin-top: 18px;
}

.header_woman {
    max-width: 600px;
    max-height: 750px;
    width: 100%;
    height: 100%;
    right: 0%;
    transform: translateX(0%);
    position: unset;
}

.header_cloud {
    background-image: url("../images/webp/clouds_img.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 249px;
    height: 180px;
    margin-top: 14px;
}

.cloud_text {
    max-width: 208px;
    text-shadow: 0px 4px 7.1px 0px var(--black);

}

.header_cat_image {
    max-width: 108px;
    max-height: 82px;
    right: -26%;
    bottom: -17%;
}

.header_right_layer {
    max-width: 500px;
    max-height: 380px;
    right: -62px;
    top: -28px;
    pointer-events: none;
}

.header_bulb {
    top: 0;
    right: 5%;
    height: 138px;
    width: 45px;
}

.header_bottom_spacing {
    padding-bottom: 100px;
}

.header_blue_lines {
    top: 2%;
    right: 30.5%;
    width: 108px;
}

.header_bottom_layer {
    width: 112px;
    height: 94px;
}

/* =================================ABOUT SECTION================================= */
.about_card {
    max-width: 1140px;
    border: 4px solid var(--primary);
    border-radius: 13px;
    box-shadow: 0px 22px 0px 0px var(--primary);
}

.about_black_paw {
    position: absolute;
    top: 7%;
    right: -4%;
}

.about_top_paw {
    position: absolute;
    right: 58px;
    top: 55px;
    z-index: -1;
}

.about_middle_paw {
    position: absolute;
    right: 81px;
    top: 190px;
    z-index: -1;
}

.about_bottom_paw {
    position: absolute;
    left: 37px;
    bottom: 18px;
    z-index: -1;
}

.paw_img {
    width: 26px !important;
    height: 27px;
    padding: 0 !important;
}

.about_img {
    max-height: 345px;
    max-width: 413px;
}

/*==================================MISSION SECTION==================================*/
.mission_right_layer {
    position: absolute;
    right: -32%;
    top: -17%;
    z-index: -1;
}

.mission_img {
    max-width: 250px;
    max-height: 300px;
}

.mission_cat_img {
    max-width: 50px;
    max-height: 50px;
}

/* =================================BENEFITS SECTION================================= */
.cats_cards {
    max-width: 530px;
    border-radius: 13px;
    border: 4px solid var(--primary);
    box-shadow: 0px 22px 0px 0px var(--primary);
    padding: 12px 25px 36px 23px;
    transition: all 300ms linear;
}

.cats_cards:hover {
    box-shadow: 0px 16px 0px 0px var(--primary);

}

.cats_img {
    width: 240px;
    height: 240px;
}

.benefits_top_lines {
    position: absolute;
    right: -2%;
    top: 8%;
}

.benefits_bottom_lines {
    position: absolute;
    left: -7%;
    bottom: -6%;
}

.max_w_415 {
    max-width: 415px;
}

.overflow_x_clip {
    overflow-x: clip;
}

/* =================================JOURNEY SECTION================================ */
.jurney_shadow {
    position: absolute;
    max-width: 897px;
    max-height: 619px;
    top: 23%;
    left: -4%;
}

.max-w-590 {
    max-width: 590px;
}

.jurney_img {
    max-width: 250px;
    max-height: 300px;
}

.max_w_590 {
    max-width: 590px;
}

.journey_pow_vector {
    position: absolute;
    bottom: 20%;
    left: -5%;
}

/* =================================THANKS SECTION================================= */
.thanks_card {
    max-width: 1140px;
    border-radius: 13px;
    border: 4px solid var(--primary);
    box-shadow: 0px 22px 0px 0px var(--primary);
    padding: 22px 20px 16px 20px;
}

.thanks_right_vector {
    position: absolute;
    top: 0;
    right: 55px;
    z-index: -1;
}

.thanks_left_vector {
    position: absolute;
    top: 0;
    left: 55px;
    z-index: -1;
}

.thanks_right_vector {
    position: absolute;
    top: 0;
    right: 55px;
}

.max_w_770 {
    max-width: 770px;
}

/* =================================CONNECTED SECTION============================== */
.form_input {
    padding: 12px;
    max-width: 471px;
    border: 3px solid var(--primary);
    border-radius: 72px;
    height: unset;
    font-size: var(--font-sm) !important;
    font-family: inter !important;
    font-weight: 400 !important;
    color: var(--primary);
}

.form_input:focus {
    outline: none !important;
    ;
}

.form_input::placeholder {
    font-family: Inter;
    font-size: var(--font-sm);
    font-weight: 400;
    text-align: left;
    color: var(--primary);
}

.submit_button {
    padding-bottom: 12px;
    padding-top: 12px;
    max-width: 471px;
    border: none;
    max-height: 90px;
    border-radius: 72px;
    box-shadow: 0px 4px 25.6px 0px var(--orange);
    transition: all 300ms linear;
}

.submit_button:hover {
    box-shadow: 0 4px 0 0 var(--primary);
}

.connected_layer {
    position: absolute;
    top: 30%;
    right: -4%;
    z-index: -1;
    width: 400px;
    height: 300px;
}

.connected_bottom_spacing {
    padding-bottom: 233px;
}

.connected_img {
    max-width: 500px;
    max-height: 443px;
}

.connected_left_paw {
    position: absolute;
    bottom: 5%;
    left: -5%;
}

.connected_right_paw {
    position: absolute;
    top: 2%;
    right: -4%;
}

/* =================================FOOTER SECTION================================= */
.footer_logo {
    max-width: 155px;
    max-height: 152px;
}

.footer_links_gap {
    gap: 20px;
}

/* =================================MEDIA SCREENS================================= */
@media (min-width:575.9px) {
    .connected_layer {
        position: absolute;
        top: 10%;
        right: -15%;
        z-index: -1;
    }

    .form_input {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .submit_button {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .jurney_img,
    .connected_img,
    .mission_img {
        object-fit: contain;
        max-width: 350px;
        max-height: 400px;
    }

    .header_cloud {
        width: 250px;
        height: 200px;
        margin-top: 20px;
    }

    .header_bottom_spacing {
        padding-bottom: 120px;
    }

    .header_bottom_layer {
        width: 132px;
        height: 114px;
    }

    .header_cat_image {
        max-height: 102px;
        right: -34%;
    }

    .header_right_layer {
        max-width: 600px;
        max-height: 420px;
    }

    .header_bulb {
        height: 188px;
        width: 60px;
    }

    .header_blue_lines {
        right: 35.5%;
        width: 138px;
    }
}

@media (min-width:767.9px) {
    .connected_layer {
        position: absolute;
        top: 10%;
        right: -4%;
        height: 400px;
    }

    .form_input {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .submit_button {
        padding-bottom: 18px;
        padding-top: 18px;
    }

    .footer_links_gap {
        gap: 38px;
    }

    .cats_img {
        width: 301px;
        height: 301px;
    }

    .benefits_top_lines {
        position: absolute;
        right: -2%;
        top: 16%;
    }

    .header_cloud {
        width: 280px;
        height: 220px;
    }

    .header_bottom_spacing {
        padding-bottom: 140px;
    }

    .header_bottom_layer {
        width: 152px;
        height: 134px;
    }

    .header_blue_lines {
        width: 198px;
    }

    .header_right_layer {
        max-width: 650px;
        max-height: 450px;
    }

    .header_bulb {
        right: 8%;
        height: 238px;
        width: 65px;
    }

    .header_logo {
        max-width: 125px;
        max-height: 102px;
        margin-top: 22px;
    }

    .header_cat_image {
        max-height: 122px;
    }
}

@media (min-width:991.9px) {
    .connected_layer {
        position: absolute;
        top: 10%;
        right: -25%;
        width: 730px;
        height: unset;
    }

    .form_input {
        padding-top: 33px;
        padding-bottom: 33px;
        padding-left: 29px;
        padding-right: 29px;
        height: 90px;
    }

    .connected_img {
        max-width: 500px;
        max-height: 443px;
    }

    .submit_button {
        padding-bottom: 33px;
        padding-top: 33px;
        max-height: 90px;
    }

    .thanks_card {
        padding: 48px 58px 31px 55px;
    }

    .cats_cards {
        max-width: 530px;
        height: 686px;
        padding: 24px 57px 76px 56px;
    }

    .jurney_img {
        max-width: 408px;
        max-height: 525px;
    }

    .mission_img {
        max-width: 460px;
        max-height: 630px;
    }

    .mission_cat_img {
        max-width: 118px;
        max-height: 160px;
    }

    .header_cloud {
        width: 339px;
        height: 243px;
        margin-top: 26px;
    }

    .header_bottom_spacing {
        padding-bottom: 170px;
    }

    .header_bottom_layer {
        width: 172px;
        height: 154px;
    }

    .header_right_layer {
        max-width: 700px;
        max-height: 500px;
    }

    .header_logo {
        max-width: 155px;
        max-height: 152px;
        margin-top: 28px;
    }

    .header_cat_image {
        max-height: 142px;
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1164px !important;
    }

    .header_woman {
        width: 600px;
        height: 750px;
        position: absolute;
        max-width: unset;
        max-height: unset;
    }

    .header_bottom_spacing {
        padding-bottom: 209px;
    }

    .header_bottom_layer {
        width: 192px;
        height: 164px;
    }

    .header_right_layer {
        max-width: 897px;
        max-height: 608px;
    }

    .max_w_600 {
        max-width: 600px;
    }

    .header_blue_lines {
        right: 39.5%;
    }

    .header_bulb {
        height: 298px;
        width: 75px;
        right: 32%;
    }

    .header_heading {
        max-width: 545px;
    }
}

@media (min-width: 1400px) {
    .header_woman {
        width: 710px;
        height: 854px;
    }
}